{% extends 'layout.html' %}
{% block content %}
    <h1>Add new applicant</h1>
    <form method="post">
        <label>
            First Name:<br>
            <input type="text" name="first_name" required><br>
            Last Name:<br>
            <input type="text" name="last_name" required><br>
            Phone number:<br>
            <input type="text" name="phone_number" required><br>
            Email address:<br>
            <input type="text" name="email_address" required><br>
            Application code:<br>
            <input type="text" name="application_code" required><br>
            <input type="submit" value="Add new applicant">
        </label>
    </form>
    {{ status }}<br>
    <br>
    {% include 'footer.html' %}
{% endblock %}