{% extends 'layout.html' %}
{% block content %}
<form method="post">
    <label for="search_email">Type in any email fragment and the search will return every user info</label><br>
        <input type="text" required name="searched_email" id="search_email">
        <input type="submit">

</form>
    <br>
    {% for data in found_emails %}
        Full Name: {{ data.full_name }}<br/>
        Phone Number: {{ data.phone_number }}<br/>
        Email: {{ data.email }}<br>
        <br>
    {% endfor %}
    <br/>
    {% include 'footer.html' %}
{% endblock %}