{% extends 'layout.html' %}
{% block content %}
    <h1>Get Applicant By First Name</h1>
    <form method="post">
        <label for="applicant">Applicant you're looking for:</label><br>
            <input type="text" required name="searched_applicant" id="applicant">
            <input type="submit">

    </form>
    <br>
    {% for data in name_and_phone %}
        Full Name: {{ data.full_name }}<br/>
        Phone Number: {{ data.phone_number }}<br/>
        <br>
    {% endfor %}
    <br/>
    {% include 'footer.html' %}
{% endblock %}