{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('mentor_names') }}">Mentor names</a><br/>
    <a href="{{ url_for('miskolc_mentor_nicknames') }}">Miskolc mentor nicknames</a><br/>
    <a href="{{ url_for('search_for_applicant_by_name') }}">Get applicant by first name</a><br/>
    <a href="{{ url_for('search_for_applicant_by_email') }}">Get applicant by email</a><br>
    <a href="{{ url_for('add_new_applicant') }}">Add new applicant</a><br>
    <a href="{{ url_for('update_phone') }}">Update applicant's phone number</a><br>
    <a href="{{ url_for('delete_applicant') }}">Delete applicant by email</a><br>
    <a href="{{ url_for('mentors_and_schools') }}">Show Mentors and their schools</a><br>
    <a href="{{ url_for('all_school_page') }}">Show mentors with every school</a><br>
    <a href="{{ url_for('mentors_by_country') }}">Show mentor number in countries</a><br>
    <a href="{{ url_for('contacts') }}">Show People you can contact</a><br>
    <a href="{{ url_for('applicants') }}">Applicants page</a><br>

{% endblock %}